---
import { categoryIcons } from '../services/category-icons.ts';

interface Props {
  title: string;
  description: string;
  pubDate: Date;
  category: string;
  url: string;
  featured?: boolean;
}

const categoryLogos: Record<string, { viewBox: string; src: string; color: string; bg: string }> = {
  CSS: categoryIcons.CSS,
  JavaScript: categoryIcons.JavaScript,
  NodeJS: categoryIcons.NodeJS,
  VueJS: categoryIcons.VueJS,
  DevTools: categoryIcons.DevTools,
  Server: categoryIcons.Server
};

const { title, description, pubDate, category, url, featured = false } = Astro.props;

// Format date
const formattedDate = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
}).format(pubDate);

// Map categories to their respective logo URLs from svgl.app
/* const categoryLogos: Record<string, { viewBox: string; src: string; color: string; bg: string }> = {
  CSS: {
    viewBox: '0 0 1000 1000',
    color: '#639',
    bg: '#66339936',
    src:'<path fill="#639" d="M0 0h840a160 160 0 0 1 160 160v680a160 160 0 0 1-160 160H160A160 160 0 0 1 0 840V0Z"/><path fill="#fff" d="M816.54 919.9c-32.39 0-57.16-9.42-74.5-28.35-17.15-19.03-26.08-46.18-26.88-81.64h69.8c.4 31.36 11.42 47.08 33.08 47.08 11.04 0 18.86-3.5 23.37-10.42 4.41-6.9 6.72-17.93 6.72-33.05 0-12.02-3.01-22.04-8.83-29.95a73.2 73.2 0 0 0-29.48-21.14L783.95 750c-23.06-11.02-39.81-24.04-50.14-39.27-10.03-15.13-15.04-36.36-15.04-63.5 0-30.36 8.83-55 26.37-73.94 18.05-18.93 42.62-28.34 74-28.34 30.3 0 53.76 9.31 70.3 27.84 16.85 18.64 25.67 45.28 26.38 80.14h-67.19c.4-11.4-1.9-22.72-6.72-33.06-3.8-7.6-11.23-11.41-22.26-11.41-19.65 0-29.48 11.71-29.48 35.05 0 11.83 2.4 21.04 7.22 28.05A65.18 65.18 0 0 0 822.76 689l24.77 10.92c25.57 11.72 44.02 26.05 55.35 43.38 11.43 17.23 17.05 40.27 17.05 69.12 0 34.56-9.03 61.1-27.38 79.63-18.25 18.53-43.62 27.85-76 27.85Zm-225.42 0c-32.4 0-57.16-9.42-74.51-28.35-17.15-19.03-26.07-46.18-26.87-81.64h69.79c.4 31.36 11.43 47.08 33.1 47.08 11.02 0 18.84-3.5 23.25-10.42 4.52-6.9 6.72-17.93 6.72-33.05 0-12.02-2.9-22.04-8.72-29.95a73.2 73.2 0 0 0-29.48-21.14L558.53 750c-23.07-11.02-39.81-24.04-50.14-39.27-10.03-15.13-15.04-36.36-15.04-63.5 0-30.36 8.82-55 26.37-73.94 18.05-18.93 42.62-28.34 74-28.34 30.29 0 53.75 9.31 70.2 27.84 17.05 18.64 25.77 45.28 26.47 80.14h-67.18c.4-11.4-1.9-22.72-6.72-33.06-3.81-7.6-11.23-11.41-22.26-11.41-19.66 0-29.49 11.71-29.49 35.05 0 11.83 2.41 21.04 7.22 28.05A65.18 65.18 0 0 0 597.33 689l24.77 10.92c25.57 11.72 44.02 26.05 55.36 43.38 11.33 17.23 17.04 40.27 17.04 69.12 0 34.56-9.12 61.1-27.37 79.63-18.25 18.53-43.62 27.85-76.01 27.85Zm-234.75 0c-31.7 0-56.86-8.62-75.51-25.85-18.65-17.12-27.88-42.87-27.88-76.93V648.83c0-33.85 9.83-59.5 29.48-77.13 19.96-17.43 46.13-26.24 78.52-26.24 31.39 0 56.15 9.01 74.5 26.84 18.56 17.93 27.88 44.58 27.88 80.14v13.32h-73.9v-12.92c0-13.72-3.01-23.84-8.83-30.45a26.46 26.46 0 0 0-21.66-10.32c-12.03 0-20.55 4.1-25.37 12.42a79.04 79.04 0 0 0-6.72 36.66v146.26c0 30.55 10.74 46.08 32.1 46.38 10.02 0 17.54-3.61 22.76-10.82a51.74 51.74 0 0 0 7.72-30.46V801.6h73.9v11.42c0 23.74-4.61 43.57-13.94 59.4a88.8 88.8 0 0 1-38.2 35.66 121.46 121.46 0 0 1-54.85 11.82Z"/>'
  },
  JavaScript: {
    viewBox: '0 0 1052 1052',
    color: '#f0db4f',
    bg: '#f0db4f36',
    src: '<path fill="#f0db4f" d="M0 0h1052v1052H0z"/><path d="M965.9 801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8 6.9-27.9 40.2-36.6 66.6-28.6 17 5.7 33.1 18.801 42.8 39.7 45.4-29.399 45.3-29.2 77-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3 1.3-20.699 2.699-31 4-29.699 7.5-58 23.1-74.6 44-49.8 56.5-35.6 155.399 25 196.1 59.7 44.8 147.4 55 158.6 96.9 10.9 51.3-37.699 67.899-86 62-35.6-7.4-55.399-25.5-76.8-58.4-39.399 22.8-39.399 22.8-79.899 46.1 9.6 21 19.699 30.5 35.8 48.7 76.2 77.3 266.899 73.5 301.1-43.5 1.399-4.001 10.6-30.801 3.199-72.101zm-394-317.6h-98.4c0 85-.399 169.4-.399 254.4 0 54.1 2.8 103.7-6 118.9-14.4 29.899-51.7 26.2-68.7 20.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699 16.3-53.3 32.699-80 49 13.301 27.3 32.9 51 58 66.399 37.5 22.5 87.9 29.4 140.601 17.3 34.3-10 63.899-30.699 79.399-62.199 22.4-41.3 17.6-91.3 17.4-146.6.5-90.2 0-180.4 0-270.9z" fill="#323330"/>'
  },
  NodeJS: {
    viewBox: '0 0 256 292',
    color: '#54a245',
    bg: '#54a24514',
    src: '<defs><linearGradient id="a" x1="68.188%" x2="27.823%" y1="17.487%" y2="89.755%"><stop offset="0%" stop-color="#41873F"/><stop offset="32.88%" stop-color="#418B3D"/><stop offset="63.52%" stop-color="#419637"/><stop offset="93.19%" stop-color="#3FA92D"/><stop offset="100%" stop-color="#3FAE2A"/></linearGradient><linearGradient id="c" x1="43.277%" x2="159.245%" y1="55.169%" y2="-18.306%"><stop offset="13.76%" stop-color="#41873F"/><stop offset="40.32%" stop-color="#54A044"/><stop offset="71.36%" stop-color="#66B848"/><stop offset="90.81%" stop-color="#6CC04A"/></linearGradient><linearGradient id="f" x1="-4.389%" x2="101.499%" y1="49.997%" y2="49.997%"><stop offset="9.192%" stop-color="#6CC04A"/><stop offset="28.64%" stop-color="#66B848"/><stop offset="59.68%" stop-color="#54A044"/><stop offset="86.24%" stop-color="#41873F"/></linearGradient><path id="b" d="M134.923 1.832c-4.344-2.443-9.502-2.443-13.846 0L6.787 67.801C2.443 70.244 0 74.859 0 79.745v132.208c0 4.887 2.715 9.502 6.787 11.945l114.29 65.968c4.344 2.444 9.502 2.444 13.846 0l114.29-65.968c4.344-2.443 6.787-7.058 6.787-11.945V79.745c0-4.886-2.715-9.501-6.787-11.944L134.923 1.832Z"/><path id="e" d="M134.923 1.832c-4.344-2.443-9.502-2.443-13.846 0L6.787 67.801C2.443 70.244 0 74.859 0 79.745v132.208c0 4.887 2.715 9.502 6.787 11.945l114.29 65.968c4.344 2.444 9.502 2.444 13.846 0l114.29-65.968c4.344-2.443 6.787-7.058 6.787-11.945V79.745c0-4.886-2.715-9.501-6.787-11.944L134.923 1.832Z"/></defs><path fill="url(#a)" d="M134.923 1.832c-4.344-2.443-9.502-2.443-13.846 0L6.787 67.801C2.443 70.244 0 74.859 0 79.745v132.208c0 4.887 2.715 9.502 6.787 11.945l114.29 65.968c4.344 2.444 9.502 2.444 13.846 0l114.29-65.968c4.344-2.443 6.787-7.058 6.787-11.945V79.745c0-4.886-2.715-9.501-6.787-11.944L134.923 1.832Z"/><mask id="d" fill="#fff"><use xlink:href="#b"/></mask><path fill="url(#c)" d="M249.485 67.8 134.65 1.833c-1.086-.542-2.443-1.085-3.529-1.357L2.443 220.912c1.086 1.357 2.444 2.443 3.8 3.258l114.834 65.968c3.258 1.9 7.059 2.443 10.588 1.357L252.47 70.515c-.815-1.086-1.9-1.9-2.986-2.714Z" mask="url(#d)"/><mask id="g" fill="#fff"><use xlink:href="#e"/></mask><path fill="url(#f)" d="M249.756 223.898c3.258-1.9 5.701-5.158 6.787-8.687L130.579.204c-3.258-.543-6.787-.272-9.773 1.628L6.786 67.53l122.979 224.238c1.628-.272 3.529-.815 5.158-1.63l114.833-66.239Z" mask="url(#g)"/>',
  },
  VueJS: {
    viewBox: '0 0 256 221',
    color: '#41B883',
    bg: '#41B88336',
    src: '<path d="M204.8 0H256L128 220.8 0 0h97.92L128 51.2 157.44 0h47.36Z" fill="#41B883"/><path d="m0 0 128 220.8L256 0h-51.2L128 132.48 50.56 0H0Z" fill="#41B883"/><path d="M50.56 0 128 133.12 204.8 0h-47.36L128 51.2 97.92 0H50.56Z" fill="#35495E"/>',
  },
  DevTools: {
    viewBox: '0 0 495 495',
    color: '#1E81CE',
    bg: '#1E81CE36',
    src: `<polygon style="fill:#1E81CE;" points="247.5,0 247.5,40 455,40 455,455 247.5,455 247.5,495 495,495 495,0 	"/><polygon style="fill:#5AAAE7;" points="40,455 40,40 247.5,40 247.5,0 0,0 0,495 247.5,495 247.5,455 	"/><path style="fill:#5AAAE7;" d="M322.958,247.492c0,19.417-9.086,35.692-19.554,50.311 c-17.949,25.019-60.711,106.993-60.711,106.993c1.606,0,3.21,0.205,4.816,0.205C334.486,405,405,334.486,405,247.492 c0-21.142-4.201-41.294-11.801-59.704H293.14C311.072,201.535,322.958,223.087,322.958,247.492z"/><path style="fill:#5AAAE7;" d="M247.167,172.11c34.497-0.256,137.818-1.332,137.818-1.332C358.036,122.619,306.683,90,247.509,90 c-49.303,0-93.33,22.68-122.158,58.167l48.108,85.457C179.932,198.734,210.416,172.383,247.167,172.11z"/><path style="fill:#5AAAE7;" d="M224.095,403.071l48.962-84.86c-8.01,2.937-16.548,4.731-25.549,4.731 c-32.892,0-57.979-22.201-70.924-50.568c-12.996-28.469-62.094-108.922-62.094-108.922C99.069,187.788,90,216.547,90,247.492 C90,326.476,148.236,391.73,224.095,403.071z"/><path style="fill:#5AAAE7;" d="M247.509,196.6c-28.161,0-50.977,22.816-50.977,50.892c0,28.161,22.816,50.977,50.977,50.977 c28.144,0,50.892-22.816,50.892-50.977C298.4,219.416,275.652,196.6,247.509,196.6z"/>`,
  },
  Server: {
    viewBox: '-17.5 0 291 291',
    color: '#029639',
    bg: '#54a24512',
    src: '<path d="M2.05386819,218.186819 C3.37421203,220.534097 5.28137536,222.294556 7.6286533,223.6149 L120.591404,288.751862 L120.591404,288.751862 C125.28596,291.539255 131.00745,291.539255 135.555301,288.751862 L248.518052,223.6149 C253.212607,220.974212 256,215.986246 256,210.558166 L256,80.2842407 L256,80.2842407 C256,74.8561605 253.212607,69.8681948 248.518052,67.2275072 L135.555301,2.09054441 L135.555301,2.09054441 C130.860745,-0.696848138 125.139255,-0.696848138 120.591404,2.09054441 L120.591404,2.09054441 L7.6286533,67.2275072 C2.78739255,69.8681948 0,74.8561605 0,80.2842407 L0,80.2842407 L0,210.704871 C0,213.345559 0.586819484,215.839542 2.05386819,218.186819" fill="#009639"> </path> <path d="M91.8372493,195.154155 C91.8372493,203.222923 85.382235,209.677937 77.313467,209.677937 C69.2446991,209.677937 62.7896848,203.222923 62.7896848,195.154155 L62.7896848,195.154155 L62.7896848,95.5415473 C62.7896848,87.7661891 69.6848138,81.4578797 79.2206304,81.4578797 C86.1157593,81.4578797 94.1845272,84.2452722 99.025788,90.2601719 L103.426934,95.5415473 L164.162751,168.160458 L164.162751,95.834957 L164.162751,95.834957 C164.162751,87.7661891 170.617765,81.3111748 178.686533,81.3111748 C186.755301,81.3111748 193.210315,87.7661891 193.210315,95.834957 L193.210315,95.834957 L193.210315,195.447564 C193.210315,203.222923 186.315186,209.531232 176.77937,209.531232 C169.884241,209.531232 161.815473,206.74384 156.974212,200.72894 L91.8372493,122.975358 L91.8372493,195.154155 L91.8372493,195.154155 Z" fill="#FFFFFF"> </path>',
  }
} */

---

<article class={`article-card`} style={`background: ${!featured ? categoryLogos[category]?.bg : ''}; border-left: ${featured ? '4px solid ' + categoryLogos[category].color : ''}`}>
  {categoryLogos[category] && (
    <svg xmlns="http://www.w3.org/2000/svg"  viewBox={categoryLogos[category].viewBox} class="category-logo">
      <g set:html={categoryLogos[category].src} />
    </svg>
  )}

  <a href={url} class="card-link">
    <div class="card-content">
      <div class="meta">
        <span class="category" style={{ color: categoryLogos[category]?.color }}>{category}</span>
        <span class="date">{formattedDate}</span>
      </div>
      
      <h2 class="title">{title}</h2>
      <p class="description">{description}</p>
      
      <div class="read-more">
        <span style={{ color: categoryLogos[category]?.color }}>Leer artículo</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke={categoryLogos[category]?.color} stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>

    </div>
  </a>
</article>

<style>
  .article-card {
    background-color: var(--color-bg-card);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    border: 1px solid var(--color-border);
    position: relative;
  }
  
  .article-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* .featured {
    border-left: 4px solid var(--color-primary);
  } */
  
  .card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
  }
  
  .card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
  }
  
  .category {
    color: var(--color-primary);
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
    background: #1010109e;
    padding: 0.1rem 0.8rem;
    border-radius: 14px;
    font-size: 0.75rem;
    border: 1px solid var(--color-border);
    height: fit-content;
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: var(--color-text-primary);
    /* line-height: 1.4; */
  }
  
  .description {
    color: var(--color-text-secondary);
    margin-bottom: 1.5rem;
    flex-grow: 1;
    line-height: 1.6;
  }
  
  .category-logo {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 45%;
    height: auto;
    opacity: 0.15;
    transform: rotate(10deg);
    pointer-events: none;
    z-index: 0;
  }
  
  .read-more {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-primary);
    font-weight: 500;
    transition: gap 0.3s ease;
  }
  
  .article-card:hover .read-more {
    gap: 0.75rem;
  }


  
</style>